:root {
    --black: #000000;
    --dark-blue: #141922;
    --gray: #6f6f6f;
    --light-gray: #c1c1c1;
    --dark-gray: #282828;
    --brand-color: #ADFF2F;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    display: block;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

/* SIDEBAR */
.main-sidebar {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 230px;
    color: var(--gray);
    background-color: var(--black);
    padding: 20px;
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: 600;
}

.sidebar-logo img {
    height: 40px;
}

.sidebar-links svg {
    height: 22px;
    color: var(--gray);
}

.sidebar-links button {
    display: flex;
    align-items: center;
    gap: 6px;
}

.sidebar-links .flex-list {
    gap: 8px;
}

.sidebar-playlist {
    font-size: 12px;
}

.sidebar-playlist h3 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.sidebar-playlist .flex-list {
    justify-content: space-between;
    gap: 8px;
}

.sidebar-playlist a {
    line-height: 28px;
}

.create-playlist {
    display: flex;
    align-items: center;
    gap: 8px;
}

.create-playlist .plus-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    aspect-ratio: 1/1;
    color: var(--black);
    background-color: var(--gray);
    font-size: 18px;
}

.sidebar-account {
    margin-top: auto;
}

.sidebar-account .download-app {
    border-bottom: 1px solid var(--gray);
    width: 100%;
    text-align: left;
    padding: 6px;
}

.sidebar-account .account-info {
    display: flex;
    align-items: center;
    padding-top: 8px;
    gap: 12px;
    width: 100%;
}

.account-info span {
    color: white;
    font-size: 14px;
}

.sidebar-account svg {
    height: 18px;
    background-color: var(--gray);
    border-radius: 999px;
    aspect-ratio: 1/1;
}

/* MAIN WINDOW */
.main-window {
    background-color: var(--dark-blue);
    flex-grow: 1;
    position: relative;
}

.banner {
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 90px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.banner button {
    line-height: 42px;
    border: 1px solid white;
    border-radius: 999px;
    text-transform: uppercase;
    padding: 0 58px;
    font-weight: 600;
    margin-right: 20px;
}

.window-content {
    overflow-y: auto;
    height: 100%;
}

.window-navbar {
    color: var(--gray);
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
}

.window-navbar .flex-list {
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 18px;
    margin-right: 18px;
    justify-content: center;
    gap: 12px;
}

.window-navbar .flex-list li {
    position: relative;
}

.window-section {
    margin-top: 18px;
}

.window-section .container {
   width: 90%; 
   margin: 0 auto;
}

.window-section .container:not(:first-child) {
    margin-top: 34px;
}

.window-section .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 18px;

    [class^="col-"] {
        padding: 0 8px;
    }

    .col-12 {
        width: 100%;
    }

    .col-2 {
        width: calc(2 * 100% / 12);
    }
}

.title-heading,
.card-title {
    color: white;
}

.section-title {
    margin-bottom: 24px;
}

.title-heading {
    font-size: 20px;
    margin-bottom: 8px;
}

.title-subheading {
    font-size: 12px;
    color: var(--gray);
}

.window-section .card-img {
    position: relative;
}

.card .card-img .img-icon {
    position: absolute;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1/1;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.8);
}

.window-section .card-img img {
    width: 100%;
}

.window-section .card-title,
.window-section .card-subtitle {
    display: block;
    text-align: center;
}

.window-section .card-title {
    margin-top: 20px;
    font-size: 20px;
}

.window-section .card-subtitle {
    margin-top: 10px;
    color: var(--gray);
    font-weight: 600;
    font-size: 12px;
}

.popular-artists .card-img img {
    border-radius: 50%;
}

.popular-artists .img-icon {
    border-radius: 50%;
}

/* PLAYER */
.player {
    height: 90px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-gray);
}

.player-track {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.track-cover {
    margin-right: 12px;
}

.track-cover img {
    max-width: 42px;
}

.track-info {
    margin-right: 24px;
}

.track-info > * {
    font-weight: 600;
}

.track-info p {
    color: white;
    font-size: 14px;
}

.track-info span {
    color: var(--gray);
    font-size: 12px;
}

.track-buttons {
    color: var(--gray);
    display: flex;
    gap: 14px;
    font-size: 20px;
}

.player-controls {
    width: 50%;
}

.controls-buttons {
    display: flex;
    justify-content: center;
    gap: 22px;
    font-size: 14px;
    color: white;
    margin-bottom: 12px;
}

.controls-buttons .play-button {
    font-size: 30px;
    margin: 0 10px;
}

.controls-timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    font-weight: 600;
    color: white;
}

.bar {
    flex-grow: 1;
    margin: 0 1vw;
    width: 100%;
    height: 4px;
    border-radius: 999px;
    background-color: var(--gray);
}

.player-settings .bar {
    width: 80px;
    flex-grow: 1;
    margin: 0;
}

.player-settings {
    display: flex;
    color: white;
    font-size: 14px;
    gap: 1vw;
    margin-left: 20px;
    align-items: center;
    justify-content: space-between;
}

/* HOVER STYLES */
.window-navbar .active::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 38px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--brand-color);
}

.card:hover {
    cursor: pointer;

    .card-img .img-icon {
        display: flex;
    }
}

.banner button:hover {
    transform: scale(1.08);
}

.window-navbar li:hover {
    color: white;
}

.player button:hover {
    color: white;
    transform: scale(1.2);
}

.player .track-info span:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

/* UTILITIES */
.flex-list {
    display: flex;
    flex-direction: column;
}

.d-none-lg {
    display: none;
}

/* MEDIA QUERIES */
@media (max-width: 991.98px) {
    .window-section .row {
        .col-2 {
            width: calc(3 * 100% / 12);
        }
    }
}

@media (max-width: 767.98px) {
    .window-section .row {
        .col-2 {
            width: calc(6 * 100% / 12);
        }
    }
}

@media (max-width: 575.98px) {
    .main-sidebar {
        width: 50px;
    }

    .track-buttons {
        flex-direction: column;
        gap: 4px;
        font-size: 16px;
    }

    .player-track {
        margin-right: 10px;
    }

    .player-settings {
        margin-left: 10px;
    }

    .main-sidebar {
        padding: 5px 11px;
    }

    .sidebar-logo img {
        height: 28px;
    }

    .main-sidebar {
        align-items: center;
    }

    .sidebar-account .download-app {
        border-bottom: none;
        padding: 6px;
    }

    .sidebar-account .account-info {
        justify-content: center;
    }

    .d-none-sm {
        display: none;
    }

    .d-block-sm {
        display: block;
    }
}

/* DEBUG */
.debug .player {
    border: 1px solid black;
}

.debug .player > * {
    border: 1px dashed hotpink;
}

.debug .main-content {
    border: 1px solid red;
}

.debug .main-window {
    border: 2px dashed cornflowerblue;
}

.debug .main-sidebar {
    border: 2px dashed;
}
