:root {
    --black: #000000;
    --dark-blue: #141922;
    --gray: #6F6F6F;
    --light-gray: #C1C1C1;
    --dark-gray: #282828;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
    cursor: pointer;
}

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
    display: flex;
}

/* SIDEBAR */
.main-sidebar {
    width: 230px;
}

/* MAIN WINDOW */
.main-window {
    flex-grow: 1;
}

/* PLAYER */
.player {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-gray);
}

.player-track {
    display: flex;
    align-items: center;
    padding-left: 12px;
    margin-right: 44px;
}

.track-cover {
    margin-right: 12px;
}

.track-cover img {
    max-width: 42px;
}

.track-info {
    margin-right: 24px;
}

.track-info > * {
    font-weight: 600;
}

.track-info p {
    color: white;
    font-size: 14px;
}

.track-info span {
    color: var(--gray);
    font-size: 12px;
}

.track-buttons {
    color: var(--gray);
    display: flex;
    gap: 14px;
    font-size: 20px;
}

.player-controls {
    width: 50%;
}

.controls-buttons {
    display: flex;
    justify-content: center;
    gap: 22px;
    font-size: 14px;
    color: white;
}

.controls-buttons .play-button {
    font-size: 30px;
    margin: 0 10px;
}

.player-settings {
    display: flex;
    color: white;
    font-size: 14px;
    gap: 1vw;
    padding-right: 10px;
    margin-left: 20px;
}

/* MEDIA QUERIES */
@media (max-width: 991.98px) { 
    
}

@media (max-width: 767.98px) {
    
}


@media (max-width: 575.98px) {
    .main-sidebar {
        width: 50px;
    }

    .track-buttons {
        flex-direction: column;
        gap: 4px;
        font-size: 16px;
    }
}

/* DEBUG */
.debug .player {
    border: 1px solid black;
}

.debug .player > * {
    border: 1px dashed hotpink;
}

.debug .main-content {
    border: 1px solid red;
}

.debug .main-window {
    border: 2px dashed cornflowerblue;
}

.debug .main-sidebar {
    border: 2px dashed;
}